name: Publish to PyPI

on:
  release:
    types: [published] # Сработает, когда вы создадите "Release" на GitHub

jobs:
  build-n-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # ОБЯЗАТЕЛЬНО для Trusted Publishers
      contents: read

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"

    - name: Install build tools
      run: pip install build

    - name: Build wheel and sdist
      run: python -m build

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
